@keyframes in-from-middle {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(15vh);
  }
}

@keyframes in-from-left {
  from {
    opacity: 0;
    transform: scale(0.8) rotateZ(-90deg) translateY(15vh);
  }
}

@keyframes in-from-right {
  from {
    opacity: 0;
    transform: scale(0.8) rotateZ(90deg) translateY(15vh);
  }
}

.gallery-item {
  @media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: view()) {
      animation: in-from-middle both;
      animation-timeline: view();
      animation-range: contain 0% contain 50%;
      transform-origin: 50% 100vh;

      &:nth-child(3n + 1) {
        animation-name: in-from-left;
      }

      &:nth-child(3n + 2) {
        animation-name: in-from-middle;
      }

      &:nth-child(3n + 3) {
        animation-name: in-from-right;
      }
    }
  }
}

@layer support {
  .gallery-grid {
    --cell: min(33vw, 250px);
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, var(--cell));
    grid-auto-rows: var(--cell);

    /* pad the scroller so last items can finish */
    padding-block-end: 50vh;
  }
  html {
    /* fixes transforms causing x scrollbar */
    overflow-x: hidden;
  }
}

.grid-center {
  align-items: center;
}
